.alt-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  margin-bottom: 15px;
}
.alt-header__column {
  width: 33%;
}
.alt-header__title {
  font-size: 22px;
  font-weight: 700;
  opacity: 0.8;
}

.alt-header__column:first-child {
  margin-left: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}
.alt-header__column:nth-child(2) {
  display: flex;

  justify-content: center;
  text-align: center;
}
